<div class="container">
  <div class="jumbotron">
    <h1>Member Manager System</h1>
    <h3>Welcome to Member Manager System, CSS, and JS framework for developing
                         responsive, mobile-first projects on the web.</h3>
    <p>If you don't have a account yet please <%= link_to "Sign up", "#" %>. 
                         Otherwise please <%= link_to "Sign in", "#" %>!</p>
  </div>
</div>