<div class="container">
  <div class="jumbotron">
    <h1><%= t "general.title" %></h1>
    <h3>Welcome to Member Manager System, CSS, and JS framework for developing
                         responsive, mobile-first projects on the web.</h3>
    <p>If you don't have a account yet please contact with your manager. 
                         Otherwise please <%= link_to t("general.login"), "#" %>!</p>
  </div>
</div>