<table class="table">
  <%= f.collection_check_boxes :user_ids, source, :id, :name do |b| %>
    <tr>
      <%= b.label do %>
        <th><%= b.text %></th>
        <th class="selection_checkbox"><%= b.check_box %></th>
      <% end %>
    </tr>
  <% end %>
</table>