<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "MEMBER MANAGER SYSTEM", root_path, class: "navbar-brand" %>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>        
        <li><a href="#">Teams</a></li> 
        <li><%= link_to "Contact Us", contact_path %></li>  
        <li><%= link_to "About Us", about_path %></li>  
      </ul>
      <ul class="nav navbar-nav navbar-right">        
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>